
.conda/
env/
venv/
ENV/
*.pyc


.ipynb_checkpoints/
*/.ipynb_checkpoints/*
# Pliki tymczasowe i autozapis Jupytera
.local
.jupyter


data/
datasets/
*.csv
*.json
*.h5
*.pkl
*.pickle
*.npy
*.npz


.DS_Store
Thumbs.db
*.log
.vscode/
.idea/